.topbar {
  transition: top 0.25s ease-in-out;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.18);
  padding: 10px 2rem;
  position: fixed;
  z-index: 2;
  width: 100%;
  .quot-logo {
    margin-top: 0;
  }
  .search-stretched {
    .quot-search-field {
      border-radius: 0 !important;
    }
  }
  .nav {
    .nav-item {
      &.create-button {
        height: 30px;
        width: 30px;
        .nav-icon {
          padding: 0;
          height: 20px;
          width: 20px;
          margin-top: 5px;
        }
      }
    }
  }
}