<template name="Topbar">
  <header class="header topbar clearfix">
    <div class="search-stretched {{isActiveRoute 'search'}}">
      {{> QuotSearchForm }}
    </div>
    <nav>
      <ul class="nav float-left">
        <li class="nav-item logo">
          <a href="/" class="nav-link quot-logo"></a>
        </li>
      </ul>
      <ul class="nav search">
        {{> QuotSearchForm }}
      </ul>
      <ul class="nav nav-pills float-right">
        <li class="nav-item">
          {{> LoginButton }}
        </li>
        <li class="nav-item create-button">
          <a href="/create" class="nav-link text">Нарезать</a>
          <a href="/create" class="nav-link nav-icon icon"></a>
        </li>
      </ul>
    </nav>
  </header>
</template>