/* Disable user select as default */
body {
  user-select: none;
}

/* Enable at titles etc. */
.title, .description {
  user-select: text;
}

input, button {
  border-radius: 30px !important;
}

.btn-succes {
  background-color: #26ae60;
}