.quot-add {
  margin: 5px 0 5px 0;
  .btn-add-quot {
    cursor: pointer;
  }
}
.add-icon {
  transition:
    color 0.15s ease-in-out 0s,
    fill 0.15s ease-in-out 0s,
    opacity 0.15s ease-in-out 0s,
    transform 0.15s ease-in-out 0s;
  opacity: 0.3;
  fill: black;
  &:hover {
    opacity: 0.5;
    transform: scale(1.2);
  }
  &.success {
    fill: #FF9800;
    opacity: 0.5;
  }
}
