.social-login {
  .social-button {
    &,
    &:visited {
      display: inline-block;
      padding: 1rem;
      color: white;
      text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
      transition: all 250ms;
    }

    $socialList: twitter #0099ff,
    facebook #446699,
    github #222222,
    google #dd4433,
    linkedin #0077dd,
    pinterest #cc2222,
    vk #47668a;

    @each $item in $socialList {
      $className: nth($item, 1);

      &.#{$className} {
        $bg-color: nth($item, 2);
        background-color: $bg-color;

        &:hover,
        &:hover {
          background-color: lighten($bg-color, 15%);
        }

        &:active {
          background-color: lighten($bg-color, 25%);
        }
      }
    }

    &:focus,
    &:hover {
      cursor: pointer;
    }
  }
}
