<template name="SocialLogin">
  {{#unless currentUser }}
    <div class="social-login">
      <button type="button" class="btn {{ btnSizeClass }} btn-block social-button vk" data-social="vk">
        <i class="fa fa-vk"></i> Войти через ВКонтакте
      </button>
      <button type="button" class="btn {{ btnSizeClass }} btn-block social-button facebook" data-social="facebook">
        <i class="fa fa-facebook"></i> Войти через Facebook
      </button>
      <button type="button" class="btn {{ btnSizeClass }} btn-block social-button google" data-social="google">
        <i class="fa fa-google"></i> Войти через Google
      </button>
      <button type="button" class="btn {{ btnSizeClass }} btn-block social-button twitter" data-social="twitter">
        <i class="fa fa-twitter"></i> Войти через Twitter
      </button>
    </div>
  {{/unless }}
</template>
