.navbar {
  .nav-item {
    &.active {
      > a {
        font-weight: bold;
        font-size: large;
      }
      .nav-icon,&.search-collapsed::before {
        border-radius: 30px !important;
        border: 2px solid red;
        background-color: lightgrey;
      }
    }
  }
}


.header {
  left: 0;
  background-color: white;
  display: block;
  padding-left: 2rem;
  padding-right: 2rem;
}

.quot-logo {
  display: flex;
  float: left;
  height: 31px;
  width: 120px;
  border-radius: 0 !important;
  margin-top: 5px;
  background-image: url('images/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
}

nav {
  display: flex;
}

.nav {
  flex-wrap: nowrap;
  &.search {
    display: block;
    margin: 0 20px;
    flex-basis: 25%;
    flex-grow: 1;
  }
  &.float-left {
    flex-basis: 25%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    .nav-item.logo {
      margin-right: 20px;
    }
  }
  &.float-right {
    flex-basis: 25%;
    min-width: 240px;
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
    .nav-item {
      margin-left: 20px;
    }
  }
  .nav-item {
    margin: auto 0;
    .nav-link {
      color: black;
      text-align: center;
      vertical-align: middle;
      &.text
      {
        line-height: 9px;
      }
      &.text {
        &::before {
          content: "";
          width: 15px;
          height: 15px;
          margin: auto 8px;
          display: inline-block;
          background-repeat: no-repeat;
          background-position: center;
        }
        &.saved::before {
          background-image: url('images/saved.svg');
        }
        &.trends::before {
          background-image: url('images/trends.svg');
        }
      }
    }
    .nav-icon {
      display: none;
      background-repeat: no-repeat;
      background-position: center;
      height: 30px;
      width: 30px;
      padding: 0 25px;
      margin: 0 auto;
      &.saved {
        background-image: url('images/saved.svg');
      }
      &.trends {
        background-image: url('images/trends.svg');
      }
    }
    &.create-button {
      height: 40px;
      border-radius: 30px !important;
      background: linear-gradient(74.64deg, #f5576c 13.18%, #ff795c 98.91%);
      .text {
        color: white;
        line-height: 24px;
        font-weight: bold;
        font-size: large;
        &::before {
          margin-bottom: -1px;
          margin-left: 0;
          background-image: url('images/add.svg');
        }
      }
      .nav-icon {
        background-image: url('images/cut.svg');
        padding: 0 20px;
        height: 20px;
        width: 20px;
        margin-top: 10px;
      }
    }
  }
}

@media screen and (max-width: 705px) {
  #login-name-link {
    width: 20px;
  }
}

@media (max-width: 762px) {
  .nav-link {
    &.text {
      display: none;
    }

    &.nav-icon {
      display: block !important;
    }
  }
}

.search-collapsed,cut-collapsed {
  text-align: center;
  padding: 10px;
  font-size: 29px;
  line-height: 20px;
  &:hover {
    cursor: pointer;
    color: #FFD600;
  }
}

@media (max-width: 762px) {
  nav {
    .search {
      display: none !important;
    }
    .float-right {
      min-width: initial !important;
    }
  }

  .search-collapsed {
    display: block !important;
  }
}

.search-stretched {
  display: none;
  background-color: white;
  position: fixed;
  z-index: 3;
  width: 100%;
  top: 0;
  left: 0;
  &.active {
    display: flex;
  }
  .quot-search-form {
    flex-grow: 1;
  }
  .quot-search-field {
    border: 0;
    margin: auto 0;
    :focus {
      border: 0;
    }
  }
  .button:hover {
    background-color: lightgray;
    cursor: pointer;
  }
  .back,.fa-search,.fa-close {
    display: block;
    width: 70px;
    line-height: 70px;
    margin: auto 0;
    text-align: center;
    color: black;
    position: relative !important;
  }
}

.icon {
  width: 40px;
  height: 40px;
}

.search-stretched {
  .quot-search-field {
    height: 70px;
  }
}

@media (max-width: 530px) {
  .icon {
    width: 30px;
    height: 30px;
  }
  .header {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .quot-logo {
    background-image: url('images/logo_minimized.svg') !important;
    width: 31px !important;
  }
  .create-button {
    content: '';
  }
  .search-stretched {
    .quot-search-field {
      height: 50px !important;
    }
  }
}