<template name="Navbar">
  <div class="navbar">
    <div class="search-stretched {{isSearchExpanded}}">
      <div class="back button fa fa-arrow-left"></div>
      {{> QuotSearchForm }}
    </div>
    <header class="header clearfix">
      <nav>
        <ul class="nav float-left">
          <li class="nav-item logo">
            <a href="/" class="nav-link quot-logo"></a>
          </li>
          <li class="nav-item {{isActiveRoute 'index'}}">
            <a href="/" class="nav-link text trends">Тренды</a>
            <a href="/" class="nav-link nav-icon trends"></a>
          </li>
          <li class="nav-item {{isActiveRoute 'my-collection'}}">
            <a href="/my-collection" class="nav-link text saved">Сохраненные</a>
            <a href="/my-collection" class="nav-link nav-icon saved"></a>
          </li>
          <div class="search-collapsed button fa fa-search {{isActiveRoute 'search'}}"></div>
        </ul>
        <ul class="nav search">
          {{> QuotSearchForm }}
        </ul>
        <ul class="nav nav-pills float-right">
          <li class="nav-item">
            {{> LoginButton }}
          </li>
          <li class="nav-item create-button">
            <a href="/create" class="nav-link text">Создать цитату</a>
            <a href="/create" class="nav-link nav-icon icon"></a>
          </li>
        </ul>
      </nav>
    </header>
  </div>
</template>