<template name="QuotSearchForm">
  <div class="quot-search-form">
    <div class="input-group">
      <input class="quot-search-field form-control"
             type="search"
             name="request"
             placeholder="Введите запрос"
             value="{{ currentSearchRequest }}"/>
      {{#if state.inputIsEmpty}}
        <div class="search button fa fa-search"></div>
      {{else}}
        <div class="reset button fa fa-close"></div>
      {{/if}}
    </div>
  </div>
</template>
