.quot-search-form {
  .quot-search-field {
    border-radius: 30px !important;
  }
  .button {
    right: 0.75rem;
    position: absolute;
    z-index: 100;

    &.search {
      color: grey;
    }
    &.reset {
      color: red;
    }
  }
}

.input-group {
  align-items: center;
}

.form-control:focus {
  border-color: #FFD600;
  box-shadow: 0 0 0 0.2rem rgba(255, 200, 0, 0.25);
}

.search-collapsed {
  display: none;
}