<template name="QuotPlayer">
  {{#unless isPlayerReady}}
    {{> Preloader }}
  {{/unless}}
  <div class="quot-player {{isDisplayPlayer}}">
    <div class="player">
      {{#if Template.subscriptionsReady}}
        {{#with targetQuot}}
        {{#if state.srcInitialized}}
        {{> htmlPlayer src=state.src}}
      {{/if}}
        {{/with}}
      {{else}}
        <p class="text-muted">Loading…</p>
      {{/if}}
      {{#unless state.isPlaying}}
          <div class="play-icon"></div>
      {{/unless}}
    </div>
    <div class="quot-info">
      {{#if Template.subscriptionsReady}}
        {{#with targetQuot}}
        <div class="views-count">Просмотров: {{view_count}}</div>  
        <div class="title">{{getQuotTitle}}</div>
        <div class="two-row"><a class="llink" href="http://htmlbook.ru/html/link/charset">Ссылка на исходное видео</a>
          {{> QuotAdd quotId=_id}}
          <button type="button" class="btn btn-sm btn-primary btn-share">
            <i class="fa fa-share"></i> Поделиться
      </button>
        </div>
        {{/with}}
      {{else}}
        <p class="text-muted">Loading…</p>
      {{/if}}
    </div>
  </div>
</template>