.quot-player {
  position: relative;
  width: 150%;
  .player {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .play-icon {
      width: 50px;
      height: 50px;
      margin: auto;
      position: absolute;
      top: 50%;
      transform: perspective(1px) translateY(-50%);
      background-image: url('images/play.svg');
      background-repeat: no-repeat;
  }
  #html-player {
    width: 100%;
    height: auto;
    background-color: black;
    border-radius: 20px;
    box-shadow: -9px 7px 36px 0px rgba(0, 0, 0, 0.18);
  }
  }

  .quot-info {
    color: black;
    margin-top: 15px;
    padding: 0px 10px;
    .title, .description {
      font-size: 20px;
      font-weight: bold;
    }
    .views-count {
      float: right;
      font-size: 20px;
    }
    .description {
      font-size: 15px;
    }
    .two-row {
      display: flex;
      width: 100%;
      margin-top: 10px;
      .llink {
        flex-grow: 5;
        margin-top: 8px;
      }
      .quot-add, .btn-share {
        margin: 0px 0px 0px 15px;
        display: inline-block;
        .btn {
          padding: 9px 15px !important;
        }
      }
      .btn {
        padding: 0px 15px !important;
      }
    }
  }
}

.container {
  margin-top: 80px;
  max-width: 1140px;
}