$font-size: 0.9rem;
$line-height: 1;
$lines-to-show: 2;
$border-radius: 0.5rem;

.quot-item {
  .card {
    transition: box-shadow 0.28s ease-in-out 0s,
    transform 0.28s ease-in-out 0s;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased !important;

    box-shadow: 0 1px 7px rgba(0,0,0,.05);
    border-radius: $border-radius;
    .card-block {
      padding: 8px;
    }
  }
  .card:hover {
    text-decoration: none;
    box-shadow: -8px 14px 22px rgba(0,0,0,0.18);
    transform: scale(1.03);
    z-index: 1;
  }
}

.thumb {
  width: 100%;
  height: 114px;
  object-fit: cover;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.card-block {
  display: flex;
  flex-direction: column;

  .card-title {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    height: $font-size*$line-height*$lines-to-show + 0.05;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-font-smoothing: subpixel-antialiased !important;
    margin-bottom: 6px;
  }

  .created {
    line-height: 1;
  }
}

.thumb-overlay-info {
  top: 90px;
  position: absolute;
  width: 100%;
  height: 20px;
  .label-wrapper {
    position: absolute;
    height: 19px;
    background-color: rgba(200, 200, 200, 0.85);
    border-radius: 19px;
    display: flex;
    vertical-align: middle;
    &.left {
      left: 4px;
      .label {
        top: 2px;
      }
    }
    &.right {
      right: 4px;

      .label {
        padding: 1px 6px;
      }
    }

    .label {
      color: #000;
    }
  }
}

.watches {
  line-height: 1;
  padding: 1px 6px 1px 4px;
}
.duration {
  line-height: 1;
  padding-left: 4px;
  padding-right: 4px;
}

.add-icon {
  bottom: 8px;
  right: 8px;
  position: absolute;
  height: 15px;
  width: 15px;
}