<template name="QuotItem">
  <div class="quot-item">
    <a href="/watch/{{props.quotId}}" class="card">
      <div class="thumb-container">
        <img
          class="card-img-top img-fluid thumb"
          src="{{thumbnailSrc}}"
          data-holder-rendered="true"
          onerror="this.src='/images/unknow-quot.png'"
        />
        <div class="thumb-overlay-info">
          <div class="label-wrapper left">
            <svg class="eye-icon" width="18" height="18" viewBox="0 0 18 18" version="1.1"
                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>eye</title>
              <desc>Created using Figma</desc>
              <g id="eye-icon" transform="translate(1250 -630)">
                <g id="eye">
                  <g id="Vector">
                    <use xlink:href="#path0_fill" transform="translate(-1250 630)" fill="#EDEDED"/>
                  </g>
                  <g id="Vector">
                    <use xlink:href="#path1_fill" transform="translate(-1246.06 633.938)" fill="#3DB39E"/>
                  </g>
                  <g id="Vector">
                    <use xlink:href="#path2_fill" transform="translate(-1240.44 635.906)" fill="#9ED9CF"/>
                  </g>
                  <g id="Vector">
                    <use xlink:href="#path3_fill" transform="translate(-1243.53 636.469)" fill="#324D5B"/>
                  </g>
                  <g id="Vector">
                    <use xlink:href="#path4_fill" transform="translate(-1240.44 636.553)" fill="#99A6AD"/>
                  </g>
                  <g id="Vector">
                    <use xlink:href="#path5_fill" transform="translate(-1243.53 637.017)" fill="#2B424D"/>
                  </g>
                  <g id="Vector">
                    <use xlink:href="#path6_fill" transform="translate(-1246.06 635.358)" fill="#37A18E"/>
                  </g>
                </g>
              </g>
              <defs>
                <path id="path0_fill"
                      d="M 9 0C 4.03594 0 0 4.03594 0 9C 0 13.9641 4.03594 18 9 18C 13.9641 18 18 13.9641 18 9C 18 4.03594 13.964 0 9 0Z"/>
                <path id="path1_fill"
                      d="M 5.0625 1.5255e-08C 7.86092 1.5255e-08 10.125 2.26405 10.125 5.0625C 10.125 7.86096 7.86096 10.125 5.0625 10.125C 2.26405 10.125 1.5255e-08 7.86096 1.5255e-08 5.0625C 1.5255e-08 2.26405 2.26405 1.5255e-08 5.0625 1.5255e-08Z"/>
                <path id="path2_fill"
                      d="M 1.12501 -2.39722e-07C 1.74375 -2.39722e-07 2.25002 0.506233 2.25002 1.12501C 2.25002 1.74379 1.74379 2.25002 1.12501 2.25002C 0.506268 2.25002 8.71716e-08 1.74379 8.71716e-08 1.12501C 8.71716e-08 0.506233 0.506268 -2.39722e-07 1.12501 -2.39722e-07Z"/>
                <path id="path3_fill"
                      d="M 2.53123 2.26646e-07C 3.92343 2.26646e-07 5.06247 1.13908 5.06247 2.53123C 5.06247 3.92339 3.92339 5.06247 2.53123 5.06247C 1.13908 5.06247 -6.53787e-08 3.93746 -6.53787e-08 2.53123C -6.53787e-08 1.12501 1.13904 2.26646e-07 2.53123 2.26646e-07Z"/>
                <path id="path4_fill"
                      d="M 0.0984397 -8.28131e-08C 0.0281356 0.140608 8.71716e-08 0.309388 8.71716e-08 0.478133C 8.71716e-08 1.09687 0.506233 1.60314 1.12501 1.60314C 1.35002 1.60314 1.57501 1.53284 1.74375 1.42033C 1.44847 0.731249 0.843756 0.210948 0.0984397 -8.28131e-08Z"/>
                <path id="path5_fill"
                      d="M 2.9531 4.09217C 1.5609 4.09217 0.42186 2.95309 0.42186 1.56094C 0.42186 0.970297 0.632809 0.421861 0.970297 2.48439e-07C 0.379657 0.464065 -6.53787e-08 1.18125 -6.53787e-08 1.9828C -6.53787e-08 3.37499 1.13908 4.51403 2.53123 4.51403C 3.33279 4.51403 4.04997 4.13434 4.51403 3.54374C 4.09214 3.89533 3.5437 4.09217 2.9531 4.09217Z"/>
                <path id="path6_fill"
                      d="M 5.76562 7.86092C 2.9672 7.86092 0.703112 5.59687 0.703112 2.79842C 0.703112 1.77185 1.0125 0.801553 1.54687 -2.61515e-07C 0.590605 0.928129 1.5255e-08 2.20781 1.5255e-08 3.64218C 1.5255e-08 6.44059 2.26405 8.70468 5.0625 8.70468C 6.82032 8.70468 8.38126 7.80469 9.28125 6.44063C 8.36716 7.31249 7.12967 7.86092 5.76562 7.86092Z"/>
              </defs>
            </svg>

            <div class="watches label">{{props.watches}}</div>
          </div>
          <div class="label-wrapper right">
            <div class="duration label">{{getDuration props}}</div>
          </div>
        </div>
      </div>
      <div class="card-block">
        <h6 class="card-title">{{displayQuotTitle}}</h6>
        <small class="card-text created">
          <small class="text-muted">{{formatCreatedAt props.createdAt}}</small>
        </small>
        {{> QuotAdd quotId=props.quotId cardMode=true}}
      </div>
    </a>
  </div>
</template>
