<template name="QuotUserCollection">
  <div class="container">
    <h4>Сохраненные видео</h4>
    {{#if currentUser }}
      {{> QuotList listType='user' }}
    {{else }}
      <div class="loginFormContainer">
        {{> SocialLogin btnSize='lg'}}<br />
      </div>
    {{/if }}
  </div>
</template>