<template name="ModalSocialLogin">
  {{#unless currentUser }}
    <div id="modal-social-login" class="modal modal-social-login" aria-hidden="true" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Вход в аккаунт</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {{> SocialLogin }}
          </div>
        </div>
      </div>
    </div>
  {{/unless}}
</template>

