<template name="Bottombar">
  <footer class="footer clearfix bottombar">
    <nav>
      <ul class="nav">
        <li class="nav-item {{isActiveRoute 'index'}}">
          <a href="/" class="nav-link nav-icon trends"></a>
        </li>
        <li class="nav-item {{isActiveRoute 'my-collection'}}">
          <a href="/my-collection" class="nav-link nav-icon saved"></a>
        </li>
        <li class="nav-item {{isActiveRoute 'search'}}">
          <a href="/search" class="nav-link nav-icon search-collapsed search"></a>
        </li>
      </ul>
    </nav>
  </footer>
</template>