.bottombar {
  left: 0;
  background-color: white;
  display: block;
  padding: 10px 2rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: bottom 0.25s ease-in-out;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.18);

  .quot-logo {
    display: flex;
    float: left;
    height: 31px;
    width: 120px;
    border-radius: 0 !important;
    margin-top: 5px;
    background-image: url('images/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  nav {
    display: flex;
  }

  .nav {
    flex-wrap: nowrap;
    width: 100%;
    display: flex;
    &.search {
      display: block;
      margin: 0 20px;
      flex-basis: 25%;
      flex-grow: 1;
    }
    .nav-item {
      margin: auto 0;
      flex-basis: 25%;
      flex-grow: 1;
      .nav-icon {
        display: none;
        background-repeat: no-repeat;
        background-position: center;
        height: 30px;
        width: 30px;
        padding: 0 25px;
        margin: 0 auto;
        &.saved {
          background-image: url('images/saved.svg');
        }
        &.trends {
          background-image: url('images/trends.svg');
        }
        &.search {
          background-image: url('images/search.svg');
        }
      }
      &.create-button {
        height: 40px;
        border-radius: 30px !important;
        background: linear-gradient(74.64deg, #f5576c 13.18%, #ff795c 98.91%);
        .nav-icon {
          background-image: url('images/cut.svg');
          padding: 0 20px;
          height: 20px;
          width: 20px;
          margin-top: 10px;
        }
      }
    }
  }

  .active {
    background-color: lightgrey;
    border-radius: 30px;
  }
}

.search-stretched {
  display: none;
  background-color: white;
  position: fixed;
  z-index: 3;
  width: 100%;
  top: 0;
  left: 0;
  &.active {
    display: flex;
  }
  .quot-search-form {
    flex-grow: 1;
  }
  .quot-search-field {
    border: 0;
    height: 70px;
    margin: auto 0;
    :focus {
      border: 0;
    }
  }
  .button:hover {
    background-color: lightgray;
    cursor: pointer;
  }
  .back,.fa-search,.fa-close {
    display: block;
    width: 70px;
    line-height: 70px;
    margin: auto 0;
    text-align: center;
    color: black;
    position: relative !important;
  }
}

@media (max-width: 530px) {
  .footer {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .quot-logo {
    background-image: url('images/logo_minimized.svg') !important;
    width: 31px !important;
  }
  .create-button {
    content: '';
  }
}