<head>
  <meta charset="UTF-8">
  <title>Страница не найдена</title>
  <script>
    window.location.href="/404";
  </script>
</head>
<body>
  <h1>Ошибка 404</h1>
  <p>Запрашиваемая страница не найдена</p>
</body>
