<head>
  <meta charset="UTF-8">
  <title>{{ogTitle}}</title>
  <meta name="description" content="{{ogDescription}}" />
  <meta property="og:site_name" content="QUOT">
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ogTitle}}">
  <meta property="og:description" content="{{ogDescription}}">
  <meta property="og:image" content="{{ogImage}}">
  <script>
    window.location.href="{{clientRedirectURL}}";
  </script>
</head>
<body>
<div id="content">
  <img src="{{ogImage}}" alt="{{ogDescription}}"/>
  <h1>{{ogTitle}}</h1>
  <p>{{ogDescription}}</p>
</div>
</body>
