<template name="Creator">
  <div class="creator">
    {{#unless isCutterReady }}
      <div class="creator-form">
        <div class="form-group">
          <div class="input-group link-input">
            <input type="text" class="form-control target-link" id="Search" placeholder="https://www.youtube.com/watch?v=4v5duJIN5Iw" />
            {{#if state.isLoadingInProgress}}
              <span class="input-group-addon loading"></span>
            {{else if state.isURLInvalid}}
              <span class="input-group-addon error"><span class="fa fa-exclamation-circle"></span></span>
            {{else if state.isVideoNotExist}}
              <span class="input-group-addon error"><span class="fa fa-exclamation-circle"></span></span>
            {{/if}}
          </div>
          {{#if state.isURLInvalid}}
            <small class="text-danger help-text">Проверьте правильность указанной ссылки</small>
          {{else if state.isVideoInvalid}}
            <small class="text-danger help-text">Видео не найдено или запрещено для использования на сторонних ресурсах</small>
          {{/if}}
        </div>
      </div>
    {{/unless}}
    {{#unless state.canShowCreator}}
      <div class="startup-image"></div>
    {{/unless}}
    {{#if state.canShowCreator}}
      {{#unless isCutterReady }}
        <div class="startup-image"></div>
      {{/unless }}
      <div class="quot-creator {{isDisplayCreator}}">
        <div class="stage tab-content">
          <div id="cutter" class="tab-pane in active">
            {{> Cutter}}
          </div>
        </div>
        <div class="stage-control">
          <input type="text" class="form-control title-field" id="Title-field" placeholder="Здесь можно задать название для цитаты" />
          <button type="button" class="btn btn-success complete-button">
              <i class="fa fa-check"></i> Опубликовать
          </button>
        </div>
      </div>
    {{/if}}
  </div>
</template>
