.creator {
  .creator-form {
    margin-bottom: 15px;
    .link-input {
      .input-group-addon {
        background: #ffffff;
      }
      .loading {
        background-image: url("images/small-preloader.gif");
        background-size: 20px 20px;
        background-position: center center;
        background-repeat: no-repeat;
        padding: 15px;
      }
      .error {
        color: darkred;
      }
    }
  }

  .quot-creator {
    display: flex;
    flex-direction: column;
    .stage {
      .tab-pane {
        height: 100%;
      }
    }
    .stage-control {
      display: flex;
      flex-direction: row;
      margin-top: 50px;
      .complete-button {
        margin-left: 15px;
      }
    }
  }

  .startup-image {
    height: 500px;
    width: auto;
    background-image: url('images/creator-startup-image.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

}
