<template name="LoginButton">
  <div class="user-login">
    {{#if currentUser}}
      <div class="dropdown user-dropdown-menu">
        <div style="background-image: url({{getIcon}})"
             class="img-fluid rounded-circle dropdown-toggle icon {{getStatus}} user-button"
             data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false">
        </div>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="dropdown-header">{{currentUser.profile.name}}</div>
          <button class="dropdown-item exit-item" type="button">Выход</button>
        </div>
      </div>
    {{else}}
      <div style="background-image: url({{getIcon}})"
           class="img-fluid rounded-circle dropdown-toggle icon unlogged login-button">
      </div>
    {{/if}}
  </div>
</template>
