.login-button {
  .user-button {
    border-radius: 30px !important;
    color: white;
  }
  :hover {
    cursor: pointer;
  }
  .icon {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    &.user-image {
      background-size: 110%;
      border-color: grey;
      border-width: 1px;
      border-style: solid;
    }
    &.unlogged {
      background-size: 70%;
    }
    &.without_image {
      background-size: 70%;
    }
  }
}

.user-login {
  .dropdown-menu-right {
    right: 0;
    left: auto;
    margin-top: 5px;
  }
  .dropdown-toggle {
    border-radius: 30px !important;
    background: linear-gradient(74.64deg, #15efa9 13.18%, #07f6ca 98.91%);
    color: white;
  }
  .dropdown-menu {
    z-index: 999;
    .dropdown-item, .avatar {
      cursor: pointer;
    }
  }

  .icon {
    cursor: pointer;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    &.user-image {
      background-size: 110%;
      border-color: grey;
      border-width: 1px;
      border-style: solid;
    }
    &.unlogged {
      background-size: 70%;
    }
    &.without_image {
      background-size: 70%;
    }
  }
}