<template name="QuotList">
  <div class="quot-list">
    {{#unless state.isListLoaded}}
      {{> Preloader }}
    {{/unless}}
    {{#if isExistQuots }}
      <div class="row">
        {{#each quotsList}}
          <div class="col-sm-4">
            {{> QuotItem
                    quotId=_id
                    title=title
                    thumbnail=thumbnail
                    description=description
                    createdAt=created_at
                    sourceId=source_id
                    from=interval.from
                    till=interval.till
                    watches=view_count
            }}
          </div>
        {{/each}}
        {{#if moreResults}}
          <div id="showMoreResults"><!--<span class="loading">Loading...</span>--></div>
        {{/if}}
      </div>
    {{else}}
      {{#if state.isListLoaded}}
        <div class="text-center text-muted">
          <h4>Нет quot'ов</h4>
        </div>
      {{/if}}
    {{/if}}
  </div>
</template>
