<template name="Cutter">
  <div class="cutter {{isDisplayReady}}">
    <div id="video-cutter">
      <div class="player-container">
        <div class="play-button">
          <div class="icon {{#unless state.isPlaying}}paused{{/unless}} {{#if state.isPlaying}}playing{{/if}}"></div>
        </div>
        {{#if state.srcInitialized}}
          {{> htmlPlayer src=state.src}}
        {{/if}}
      </div>

      <div class="timeline-container">
        <div class="timeline">
          <div class="spinner left-spinner">
            <div class="ear"></div>
            <div class="line"></div>
            <div class="label">FROM</div>
          </div>
          <div class="interval">
            <div class="line"></div>
          </div>
          <div class="slider">
            <div class="line"></div>
          </div>
          <div class="spinner right-spinner">
            <div class="ear"></div>
            <div class="line"></div>
            <div class="label">TILL</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>