//colors
$background-color: #27ae60;
$background-color-light: rgba(41, 255, 155, 0.49);
$control-color: #eb5757;
$control-color-hover: #eb4040;
$spinner-width: 20px;
$spinner-line-width: 2px;

.cutter {
	#video-cutter {
		.player-container {
			position: relative;
			.play-button {
				opacity: 0.8;
				width: 50px;
				height: 50px;
				bottom: 20px;
				left: 12px;
				z-index: 1;
				position: absolute;
				&:hover {
					opacity: 0.9;
				}

				.icon {
					width: 100%;
					height: 100%;
					background-repeat: no-repeat;
					background-position: center;

					&.playing {
						background-image: url('images/pause.svg');
					}

					&.paused {
						background-image: url('images/play.svg');
					}
				}
			}
			#html-player {
				width: 100%;
				height: auto;
				max-height: 300px;
				background-color: black;
				border-radius: 20px;
				box-shadow: -9px 7px 36px 0px rgba(0, 0, 0, 0.18);
			}
		}
	}
}

.timeline-container {
	background-color: #27ae60;
	padding: 0 18px;
	height: 35px;
	width: 100%;
	margin: 20px 0;
	border-radius: 20px;
	box-shadow: -9px 7px 36px 0px rgba(0, 0, 0, 0.18);
	.timeline {
		background: $background-color;
		height: 35px;
		width: 100%;
		float: left;
		.spinner {
			position: relative;
			height: 100%;
			width: 0;
			overflow: visible;
			background: $control-color;
			.line {
				position: absolute;
				background: white;
				width: $spinner-line-width;
				height: 150%;
			}
			.label {
				position: absolute;
				color: $control-color;
				top: 137%;
				margin-left: 2px;
				user-select: none;
			}
			.ear {
				position: absolute;
				height: 35px;
				width: $spinner-width - $spinner-line-width;
				background: $control-color;
				&.hover {
					background: $control-color-hover;
				}
			}
			&.active {
				transform: scale(1.5);
				.ear {
					border: 2px solid #a83030;
					box-shadow: -9px 7px 36px 0px rgba(0, 0, 0, 0.18);
				}
			}
		}
		.left-spinner {
			float: left;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			.ear{
				left: -18px;

				@include border-left-radius(20px);
			}
			.label {
				right: 2px;
			}
			.line {
				right: 0;
			}
		}
		.right-spinner {
			float: left;

			.ear {
				@include border-right-radius(20px);
			}
		}
		.slider {
			position: relative;
			z-index: 1;
			float: left;
			height: 100%;
			width: 0;
			overflow: visible;
			margin-left: -1px;

			.line {
				position: absolute;
				background: black;
				width: $spinner-line-width;
				height: 100%;
			}
		}
		.interval {
			position: relative;
			float: left;
			height: 100%;
			width: 0;
			overflow: visible;
			.line {
				position: absolute;
				background: white;
				opacity: 0.5;
				width: 10px;
				height: 100%;
			}
		}
	}
}