<template name="ModalSocialShare">
  <div id="modal-social-share" class="modal modal-social-share" aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Поделиться цитатой</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- uSocial -->
          <script async src="https://usocial.pro/usocial/usocial.js?v=6.1.4" data-script="usocial" charset="utf-8"></script>
          <div class="uSocial-Share" data-pid="f55fa073a6a3cc5d0e65f10dc012a474" data-type="share" data-options="round,style1,default,absolute,horizontal,size48,counter0" data-social="vk,fb,telegram,twi,lj,lin,spoiler" data-mobile="vi,wa,sms"></div>
          <!-- /uSocial -->
          <div class="form-group" style="margin-top:15px" >
            
            <label for="exampleFormControlTextarea1">Код для вставки встроенного плеера на сайт:</label>
            <textarea class="form-control" style="overflow:hidden" id="exampleFormControlTextarea1" rows="5" readonly><iframe width="560" height="315" src="https://www.quot.video/embed/gu7LZytodDw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </textarea>
          </div>
          <button type="button" class="btn btn-sm btn-primary btn-share">
            <i class="fa fa-copy"></i> Скопировать
      </button>
        </div>
      </div>
    </div>
  </div>
</template>

