<template name="NotFoundPage">
  <div class="container">
    <h1>404</h1>
    <h4>Страница не найдена</h4>
    <p>
      Извините, но такой страницы нет на нашем сайте.
      Возможно вы ввели неправильный адрес или страница была удалена.
    </p>
    <p>
      <a href="/">Перейти на главную страницу</a>
    </p>
  </div>
</template>
