<template name="QuotSearch">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-block">
          <div class="input-group">
            <input type="text" class="quot-search-field form-control" placeholder="Введите запрос">
            <span class="input-group-btn">
              <button class="search-button btn btn-success" type="button">Поиск</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  {{> QuotList listType=props.listType }}
</template>
